footer {
	margin: 0px auto;
	width: 1440px;
	height: 630px;
	top: 4616px;
	background: #10367C;
}
.footer__small {
	display: none;
}
.footer__section {
	height: 630px;
	font-weight: 400;
	font-size: 20px;
	line-height: 47px;
	text-align: left;
	color: #ffffff;
	display: flex;
}
.footer__head {
	font-weight: 500;
}
.footer__about {
	list-style-type: none;
	padding-left: 104px;
	padding-top: 120px;
}
.footer__property {
	list-style-type: none;
	padding-left: 223px;
	padding-top: 120px;
}
.footer__support {
	list-style-type: none;
	padding-left: 284px;
	padding-top: 120px;
}
.copyright {
	position: absolute;
	padding-left: 103px;
	padding-top: 494px;
	font-size: 15px;
}
@media (max-width: 849px) {
    footer {
		width: 360px;
		height: 203px;
	}
	.footer__section {
		display: none;
	}
	.footer__small {
		display: flex;
		flex-direction: column;
	}
	.small__logo {
		position: absolute;
		padding-top: 40px;
		padding-left: 131px;
	}
	.footer__links {
		font-weight: 500;
		font-size: 15px;
		line-height: 18px;
		color: #ffffff;
		text-decoration: underline;
		position: absolute;
		display: inline-flex;
	}
	.links__about {
		padding: 99px 0px 0px 67px;
	}
	.links__property {
		padding: 99px 0px 0px 16px;
	}
	.links__support {
		padding: 99px 0px 0px 16px;
	}
	.copyright__small {
		position: absolute;
		padding-left: 71px;
		padding-top: 149px;
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
		text-align: center;
		color: #ffffff;
	}
}