
.offer {
    text-align: center;
    height: 569px;
    background: #FFFFFF;
}
.offer h2 {
    padding-top: 120px;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 88px;
    position: relative;
}
.offer h2::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 5px;
    margin: 0px auto;
    top: 187px;
    left: 0px;
    right: 0px;
    background-color: rgb(243, 197, 79);
}
.offer__item img{
    width: 100px;
    height: 200px;
    display: block;
    margin: 0px auto;
}
  footer {
    margin: 0px auto;
    width: 1440px;
    height: 630px;
    top: 4616px;
    background: #10367C;
  }
  .footer__small {
    display: none;
  }
  .footer__section {
    height: 630px;
    font-weight: 400;
    font-size: 20px;
    line-height: 47px;
    text-align: left;
    color: #ffffff;
    display: flex;
  }
  .footer__head {
    font-weight: 500;
  }
  .footer__about {
    list-style-type: none;
    padding-left: 104px;
    padding-top: 120px;
  }
  .footer__property {
    list-style-type: none;
    padding-left: 223px;
    padding-top: 120px;
  }
  .footer__support {
    list-style-type: none;
    padding-left: 284px;
    padding-top: 120px;
  }
  .copyright {
    position: absolute;
    padding-left: 103px;
    padding-top: 494px;
    font-size: 15px;
  }
  @media (min-width: 850px){
    .offer .offer__items {
      display: flex;
      justify-content: space-between;
      font-size: 24px;
      font-weight: 400;
      padding-left: 214px;
      padding-right: 214px;
  }
  .loves {
    text-align: left;
    height: 828px;
    background: #EAF0F9;
  }
  .loves h2 {
    padding-top: 120px;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 88px;
    position: relative;
    text-align: center;
  }
  .loves__item img{
    width: 296px;
    height: 296px;
    display: flex;
    margin: 0px auto;
    padding-bottom: 24px;
  }
  .loves .loves__items {
    display: flex;
    font-size: 24px;
    font-weight: 400;
    color: #3077C6;
    padding-left: 104px;
    padding-right: 104px;
}
.loves__item_geotag {
  color: #BFBFBF;
  padding-top: 21px;
  padding-bottom: 121px;
  padding-left: 10px;
}
.loves__item_placename {
  padding-left: 10px;
}
.loves__item_arrow {
  display: none;
}
.destinations {
  height: 1158px;
  background: #fff;
}
.destinations h2 {
  padding-top: 120px;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 88px;
  position: relative;
  text-align: center;
}
.destinations__buttons {
  padding: 0 0 65px 114px;
}
.destinations__buttons button {
  font-size: 24px;
  font-weight: 400;
  height: 64px;
  width: 20%;
  border: none;
}
.destinations__buttons button:nth-child(2) {
background-color: #FFFFFF;
color: #383838;
}
.destinations__buttons button:nth-child(2):hover {
  background-color: #3077C6;
  color: #fff;
  }
.destinations__buttons button:last-child {
  background-color: #FFFFFF;
  color: #383838;
  }
  .destinations__buttons button:last-child:hover {
    background-color: #3077C6;
    color: #fff;
    }
.destinations__item img{
  width: 296px;
  height: 296px;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  padding-bottom: 24px;
}
.destinations__item:hover img {
  background: url('./img/backdround-destinations-hv.svg');
}
.destinations .destinations__items {
  display: flex;
  font-size: 24px;
  font-weight: 400;
  color: #3077C6;
  padding-left: 104px;
  padding-right: 104px;
}
.destinations__item_placename {
padding-left: 10px;
padding-bottom: 102px;
}
.destinations__item_arrow {
display: flex;
align-items: center;
justify-content: center;
padding-bottom: 120px;
}
.sign-up {
  background-color: #EAF0F9;
  margin: 0px 104px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 1232px;
  height: 200px;
  padding-left: 24px;
}
.sign-up  img {
padding-right: 24px;
width: 86px;
height: 86px;
}
.sign-up p {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 21px;
}
.sign-up button {
  height: 48px;
  width: 128px;
  border: solid 1px #3077C6;
  background-color: #FFFFFF;
  color: #3077C6;
  font-size: 18px;
}
  }
  @media (max-width: 849px) {
    main {
      height: 2212px;
      width: 100%;
    }
    .offer {
      padding: 0px;
      height: 641px;
    }
    .offer h2 {
      font-size: 28px;
      line-height: 33px;
      padding: 24px 100px 35px;
      margin-bottom: 0px;
    }
    .offer h2::after {
      display: none;
    }
    .offer__items {
      display: flex;
      flex-direction: column;
    }
    .offer__item {
      margin-top: 35px;
      font-size: 15px;
    }
    .offer .offer__items {
      display: flex;
      justify-content: space-between;
      font-size: 24px;
      font-weight: 400;
  }
  .loves {
    text-align: left;
    background: #EAF0F9;
    height: 354px;
    margin-top: 641px;
  }
  .loves h2 {
    padding-top: 40px;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 32px;
    position: relative;
    text-align: center;
  }
  .loves__item img{
    width: 156px;
    height: 155px;
    display: block;
    margin: 0px auto;
    padding-bottom: 8px;
  }
  .loves .loves__items {
    display: flex;
    font-size: 12px;
    font-weight: 400;
    color: #3077C6;
    padding-left: 15px;
    padding-right: 15px;
}
.loves__item_geotag {
  color: #BFBFBF;
  padding-top: 4px;
  padding-bottom: 56px;
  padding-left: 10px;
}
.loves__item_placename {
  padding-left: 10px;
}
.loves div:nth-child(3) {
  display: none;
}
.loves div:nth-child(4) {
  display: none;
}
.loves__item_arrow img {
  width: 28px;
  height: 28px;
}
    footer {
      width: 360px;
      height: 203px;
    }
    .footer__section {
      display: none;
    }
    .footer__small {
      display: flex;
      flex-direction: column;
      margin-top: 1217px;
    }
    .small__logo {
      position: absolute;
      padding-top: 40px;
      padding-left: 131px;
    }
    .footer__links {
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      color: #ffffff;
      text-decoration: underline;
      position: absolute;
      display: inline-flex;
    }
    .links__about {
      padding: 99px 0px 0px 67px;
    }
    .links__property {
      padding: 99px 0px 0px 16px;
    }
    .links__support {
      padding: 99px 0px 0px 16px;
    }
    .copyright__small {
      position: absolute;
      padding-left: 71px;
      padding-top: 149px;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      text-align: center;
      color: #ffffff;
    }
  }