*{
    margin: 0;
    padding: 0;
}
.offer {
    margin: 0px auto;
    text-align: center;
    max-width: 1200px;
}
.offer h1 {
    padding-top: 120px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 200px;
    position: relative;
}
.offer h1::after {
    content: '';
    position: absolute;
    display: block;
    width: 100px;
    height: 5px;
    margin: 0px auto;
    top: 220px;
    left: 0px;
    right: 0px;
    background-color: rgb(243, 197, 79);
}
.offer .offer_items {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}
@media (max-width: 500px) {
    .offer .offer_items {
        display: flex;
        flex-direction: column;
    }
}
.offer_item img{
    width: 100px;
    height: 200px;
    display: block;
    margin: 0px auto;
}